<% if logged_in? %>
<h1> Hello, <%= @user.display_name %>!</h1>
<% else %>
<h1> Hello, welcome to the Research Repository!</h1>
<% end %>

<p>[The Research Repository is/We are] an aggregate service to assist in organizing your research needs by creating projects with attached reference lists, and attaching to each list item an index of sources where the item can be found. [I hate this sentence we're going to have to rework this.</p>

<p>If you're seeing this message, you have just created an account. Don't worry, this information can be accessed at any time by clicking 'Info' on the side bar. Now that you've created an account you have the option of creating a project of any type. You will be prompted to enter a project name, a project description (this could be a novel, a research paper, a project in development for your employer, any type of endeavor with a unifying goal), and a summary describing your project. Only the project name is necessary, although the others might be helpful if you're later trying to remember why you added all these newspaper articles or books or recordings of lectures.</p>

<p>Once you've created at least one project, it's time to create your lists for the project! Here is the tricky part: a list can exist for more than one project. If, for example, you are researching the possibility of faster-than-light travel you may want to use what you've learned in more than one project. Make sure your list title is something generally applicable and covering the field you want to study, without direct reference to the project. The context for the list as it refers to the project lies in the topic. For example, if you're researching faster-than-light travel for a novel series, but also for a blog you're writing about a television show, you might assign that list the topic of "Protagonist's ship" and the topic of "TV Show Technobabble".</p>

<p>Having created your list, you can now add items! Don't worry necessarily about the number of fields involved in creating each item; many of those are optional in order to make it easier for you to search them on other sites. [You need a name to create an item, and that's it.] Once you've entered your item you can now enter sources, also with a number of fields most of which are optional. You may also add sources that other people have added if you believe you can find your item there, for example, a public library or Amazon.com.</p>

<p>[and eventually there will be print functionality and public/private functionality and sharing to other people functionality, which would really tie this whole thing together, but first steps come first]</p>